<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>catalogo_productos_consola</display-name>
  <filter>
    <display-name>VerificarLicenciaFiltro</display-name>
    <filter-name>VerificarLicenciaFiltro</filter-name>
    <filter-class>controlador.filtros.VerificarLicenciaFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>VerificarLicenciaFiltro</filter-name>
    <url-pattern>/jsp/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ExpiraSesionFiltro</display-name>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <filter-class>controlador.filtros.ExpiraSesionFiltro</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/jsp/home.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/jsp/agregar_producto.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/AgregarProductoServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/jsp/listado_productos.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/EditarProductoServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ExpiraSesionFiltro</filter-name>
    <url-pattern>/jsp/administrar_documentos_productos.jsp</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/catalogo_productos_consola</taglib-uri>
      <taglib-location>/WEB-INF/tlds/reportes.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>